@using APLMatchMaker.Shared.DTOs.CompanyDTOs;

<dl class="row">
    <dt class="col-sm-2">Företag</dt>
    <dd class="col-sm-10">@Company!.CompanyName</dd>
    <dt class="col-sm-2">Organisationsnummer</dt>
    <dd class="col-sm-10">@Company.OrganizationNumber</dd>
    <dt class="col-sm-2">Hemsida</dt>
    <dd class="col-sm-10">@Company.Website</dd>
    <dt class="col-sm-2">E-mail</dt>
    <dd class="col-sm-10">@Company.CompanyEmail</dd>
    <dt class="col-sm-2">Telefon</dt>
    <dd class="col-sm-10">@Company.Phone</dd>
    <dt class="col-sm-2">Post Adress</dt>
    <dd class="col-sm-10">@Company.PostalAdress</dd>
    <dt class="col-sm-2">Post Nummer</dt>
    <dd class="col-sm-10">@Company.PostalNumber</dd>
    <dt class="col-sm-2">Kommun</dt>
    <dd class="col-sm-10">@Company.City</dd>
    <dt class="col-sm-2">Noteringar</dt>
    <dd class="col-sm-10">@Company.Notes</dd>
</dl>


@* <div class="">
    <p>
        Namn:&nbsp;@Company.CompanyName
    </p>
</div>

<div class="">
    <p>
        Web:&nbsp;@Company.Website <br />
        E-post:&nbsp;@Company.CompanyEmail <br />
        Telefon:&nbsp;@Company.Phone
    </p>
</div>

<div class="">
    <p>
        Gata:&nbsp;@Company.PostalAdress <br />
        Postnr. Ort:&nbsp;@Company.PostalNumber&nbsp;@Company.City
    </p>
</div>

<div class="">
    <p>
        Org.Nr:&nbsp;@Company.OrganizationNumber
    </p>
</div>

<div class="">
    <p>
        Anteckningar:<br />@Company.Notes
    </p>
</div> *@