@using APLMatchMaker.Shared.DTOs.CompanyDTOs;
<div class="container">
    <div class="label">
        <h4>
            @Company.CompanyName
        </h4>
    </div>
    <div class="avatarLogo"></div>
    <div class="details">
        <h2>Kontakt</h2>
        <p>
            <b>Företag:</b> @Company!.CompanyName<br />
            <b>Hemsida:</b> @Company.Website<br />
            <b>Mail:</b> @Company.CompanyEmail<br />
            <b>Postadress:</b> @Company.PostalAdress<br />
            <b>Postnummer:</b> @Company.PostalNumber<br />
            <b>Postort:</b> @Company.City<br />
            <b>Org.Nr:</b> @Company.OrganizationNumber<br />
            <b>Övrigt:</b> @Company.Notes<br />
        </p>


    </div>

    <div class="details">
        <h2>Kontaktpersoner</h2>
        @if (Company.Contacts != null && Company.Contacts.Count() > 0)
        {
            <ContactsShortList Contacts="Company.Contacts" />
        }
    </div>

    <div class="details">
        <h2>Praktikanter</h2>
        @if (Company.Internships != null && Company.Internships.Count() > 0)
        {
            <InternsShortList Internships="Company.Internships"/>
        }
    </div>
</div>


@* <div class="">
    <p>
        Namn:&nbsp;@Company.CompanyName
    </p>
</div>

<div class="">
    <p>
        Web:&nbsp;@Company.Website <br />
        E-post:&nbsp;@Company.CompanyEmail <br />
        Telefon:&nbsp;@Company.Phone
    </p>
</div>

<div class="">
    <p>
        Gata:&nbsp;@Company.PostalAdress <br />
        Postnr. Ort:&nbsp;@Company.PostalNumber&nbsp;@Company.City
    </p>
</div>

<div class="">
    <p>
        Org.Nr:&nbsp;@Company.OrganizationNumber
    </p>
</div>

<div class="">
    <p>
        Anteckningar:<br />@Company.Notes
    </p>
</div> *@