@using APLMatchMaker.Shared.DTOs.CoursesDTOs

@if (CompListOfCourses == null || !CompListOfCourses.Any())
{
    <p>Ingen kurs hittad.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <button @onclick='() => SortByColumn("Name")' class="btn btn-link">Kursnamn @RenderSortIcon("Name")</button>
                </th>
                <th scope="col">
                    <button @onclick='() => SortByColumn("StartDate")' class="btn btn-link">Start datum @RenderSortIcon("StartDate")</button>
                </th>
                <th scope="col">
                    <button @onclick='() => SortByColumn("EndDate")' class="btn btn-link">Slut datum @RenderSortIcon("EndDate")</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in CompListOfCourses)
            {
                <tr>
                    <td scope="row"><a href="@($"coursedetails/{course.Id}")">@course.Name</a></td>
                    <td scope="row">@course.StartDate.ToString("yyyy-MM-dd")</td>
                    <td scope="row">@course.EndDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
