@using APLMatchMaker.Client.Helpers
@using APLMatchMaker.Shared.DTOs.StudentsDTOs

<div class="container">
<div class ="details">
    @if (studentDetails != null)
    {
        <p>
            <b>Namn:</b> @studentDetails.FirstName @studentDetails.LastName<br />
            <b>Epost:</b> @studentDetails.Email<br />
            <b>Telefon:</b> @studentDetails.PhoneNumber<br />
            <b>Personnummer:</b> @studentDetails.StudentSocSecNo<br />
            <b>Status:</b> @studentDetails.Status<br />
            <b>Adress:</b> @studentDetails.Address<br />
            <b>Kunskapsnivå:</b> @StudentHelper.GetKnowledgeLevelString(studentDetails.KnowledgeLevel)<br />
            <b>CV:</b> @studentDetails.CV<br />
            <b>Nationalitet:</b> @studentDetails.Nationality<br />
            <b>Språk:</b> @studentDetails.Language<br />
            <b>LinkedIn Intro:</b> @studentDetails.LinkedinIntro<br />
            <b>Kommentar från Läraren:</b> @studentDetails.CommentByTeacher<br />
        </p>
    }
    else
    {
        <p>Inga studentuppgifter hittades.</p>
    }
</div>
    <div class="space"></div> <!-- Space between divs -->
<div class ="qualifications">
<p>
    <b>Course:</b> @studentDetails.FirstName @studentDetails.LastName<br />
    <b>Grade:</b> @studentDetails.Email<br />
    <b>Certificates:</b> @studentDetails.PhoneNumber<br />
    <b>Tags:</b> @studentDetails.StudentSocSecNo<br />
</p>
</div>
    <div class="space"></div> <!-- Space between divs -->
    <div class="status">
        <p>
            <b>Status:</b> @studentDetails.FirstName @studentDetails.LastName<br />
            <b>Internship at:</b> @studentDetails.Email<br />
            <b>Period:</b> @studentDetails.PhoneNumber<br />
            <b>History:</b> @studentDetails.StudentSocSecNo<br />
        </p>
    </div>
    </div>
@code {
    [Parameter]
    public StudentForDetailsDTO studentDetails { get; set; } = new StudentForDetailsDTO();

}
