@using APLMatchMaker.Client.Helpers
@using APLMatchMaker.Shared.DTOs.StudentsDTOs

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Namn
            </th>
            <th scope="col">E-post</th>
            <th scope="col">Personnummer</th>
            <th scope="col">Adress</th>
            <th scope="col">Kunskapsnivå</th>
            <th scope="col">Språk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Students)
        {
            <tr>
                <td><a href="@($"studentdetails/{student.Id}")">@student.Name</a></td>
                <td>@student.Email</td>
                <td>@student.StudentSocSecNo</td>
                <td>@student.Address</td>
                <td>@StudentHelper.GetKnowledgeLevelString(student.KnowledgeLevel)</td>
                <td>@student.Language</td>
            </tr>
        }
    </tbody>
</table>

