@page "/company"
@using APLMatchMaker.Shared

<h3>Företag</h3>
<br />

<div class="form-group">
    <a class="btn btn-success" href="companyadd"><i class="oi oi-plus"></i> Registrera företag </a>
</div>

<br>


@if (companies == null && errorMessage == null)
{
    <p>Hämtar...</p>
}
else if (errorMessage != null)
{
    <p class="alert alert-danger">Fel vid datahämtning: @errorMessage</p>
}
else
{

    <table class="table">

        <thead>

            <tr>
                <th scope="col">Företag:</th>
                <th scope="col">Org.nummer:</th>
                <th scope="col">E-post:</th>
                <th scope="col">Växel:</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var company in companies!)
            {
                <tr>
                    <td scope="row"><a href="@($"companydetails/{company.Id}")">@company.CompanyName</a></td>
                    <td scope="row">@company.OrganizationNumber</td>
                    <td scope="row">@company.CompanyEmail</td>
                    <td scope="row">@company.Phone</td>
                </tr>
            }
        </tbody>
    </table>
    


}



