@page "/coursedetails/{Id:int}"
@using APLMatchMaker.Shared.DTOs.CoursesDTOs


<h3>Informationer om kursen</h3>

@if (courseDetails == null && ErrorMessage == null)
{
    <p>Hämtar....</p>
}
else if(ErrorMessage !=null)
{
    <p class="alert alert-danger">Fel vid datahämtning: @ErrorMessage</p>
}
else
{
    <div>
        <p><strong>Namn: </strong>@courseDetails!.Name</p>
        <p><strong>Beskrivning: </strong>@courseDetails.Description</p>
        <p><strong>Start datum: </strong>@courseDetails.StartDate.ToString("yyyy-MM-dd")</p>
        <p><strong>Slut datum: </strong>@courseDetails.EndDate.ToString("yyyy-MM-dd")</p>
        <button>Redigera</button>
        <a href="@($"/ListOfCourses")" class="btn btn-danger m-1">Tillbaka till kurslistan</a>
    </div>
}







