@page "/coursedetails/{Id:int}"
@using APLMatchMaker.Client.Components
@using APLMatchMaker.Shared.DTOs.CoursesDTOs


<h3>Information om kursen</h3>

@if (courseDetails == null && ErrorMessage == null)
{
    <p>Hämtar....</p>
}
else if(ErrorMessage !=null)
{
    <p class="alert alert-danger">Fel vid datahämtning: @ErrorMessage</p>
}
else
{
    <div>
        <p><strong>Namn: </strong>@courseDetails!.Name</p>
        <p><strong>Beskrivning: </strong>@courseDetails.Description</p>
        <p><strong>Startdatum: </strong>@courseDetails.StartDate.ToString("yyyy-MM-dd")</p>
        <p><strong>Slutdatum: </strong>@courseDetails.EndDate.ToString("yyyy-MM-dd")</p>
        <a href="@($"/EditCourse/{Id}")" class="btn btn-secondary m-1">Redigera</a>
        <a href="@($"/ListOfCourses")" class="btn btn-danger m-1">Tillbaka till kurslistan</a>
    </div>
    <div>
        @if (courseDetails.students != null && courseDetails.students.Count > 0)
        {
            <StudentList Students="courseDetails.students"></StudentList>
        }
        <a href="@($"/ListOfCourses")" class="btn btn-danger m-1">Tillbaka till kurslistan</a>
    </div>
}







