@page "/coursedetails/{Id}"
@using APLMatchMaker.Shared.DTOs.CoursesDTOs


<h3>Informationer om kursen</h3>

@if (Course == null && ErrorMessage == null)
{
    <p>Hämtar....</p>
}
else if(ErrorMessage !=null)
{
    <p class="alert alert-danger">Fel vid datahämtning: @ErrorMessage</p>
}
else
{
    <div>
        <p><strong>Namn: </strong>@Course.Name</p>
        <p><strong>Beskrivning: </strong>@Course.Description</p>
        <p><strong>Start datum: </strong>@Course.StartDate.ToString("yyyy-MM-dd")</p>
        <p><strong>Slut datum: </strong>@Course.EndDate.ToString("yyyy-MM-dd")</p>
        <button>Redigera</button>
        <a href="@($"/ListOfCourses")" class="btn btn-danger m-1">Tillbaka till kurslistan</a>
    </div>
}







