@page "/studentdetails/{Id}"

@using APLMatchMaker.Shared.DTOs.StudentsDTOs
@using APLMatchMaker.Client.Components

@* <h3>Student Information</h3> *@
@* Commented this one out because it takes space*@

<div>
    <StudentDetails StudentDetails="@studentDetails" />
    <div class="btn-group btn-" style="margin: 1rem 30rem ">
        <a href="@($"editstudent/{Id}")" class="btn btn-primary"><i class="bi bi-pencil bi-2x"></i> Redigera</a>
        <a href="@($"deletestudent/{Id}")" class="btn btn-danger"><i class="bi bi-trash bi-2x"></i> Radera</a>
        <a href="@($"/ListOfStudents")" class="btn btn-secondary"><i class="bi bi-caret-left bi-2x"></i> Tillbaka</a>
    </div>

</div>
@* <StudentDetails StudentDetails="@studentDetails" />

<a href="@($"editstudent/{Id}")" class="btn btn-danger m-1">Redigera elev</a>
<a href="@($"/ListOfStudents")" class="btn btn-danger m-1">Tillbaka till elevlistan</a> *@
