@page "/ListOfStudents"

@using APLMatchMaker.Shared.DTOs.StudentsDTOs
@using APLMatchMaker.Client.Components

<h3 class="m3">Studentlista</h3>
<div>
    <input type="text" @bind="searchText" placeholder="Sök student..." />
    <button class="btn btn-success" type="submit" @onclick="SearchStudents"><i class="bi bi-search"></i> Sök</button>
</div>

@if (PageListStudents == null && errorMessage == null)
{
    <p>Läser in...</p>
}
else if (errorMessage != null)
{
    <p class="alert alert-danger">Error: @errorMessage</p>
}
else if (PageListStudents!.Count() == 0)
{
    <p>Ingen student hittad.</p>
}
else
{

    <div class="m-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <button @onclick='() => SortByColumn("Name")' class=" btn btn-link">Namn @RenderSortIcon("Name")</button>
                    </th>
                    <th scope="col">
                        <button @onclick='() => SortByColumn("Email")' class=" btn btn-link">E-post @RenderSortIcon("Email")</button>
                    </th>
                    <th scope="col">
                        <p>Personnummer @RenderSortIcon("Personnummer")</p>
                    </th>
                    <th scope="col">
                        <button @onclick='() => SortByColumn("Adress")' class=" btn btn-link">Adress @RenderSortIcon("Adress")</button>
                    </th>
                    <th scope="col">
                        <button @onclick='() => SortByColumn("KnowledgeLevel")' class=" btn btn-link">Kunskapsnivå @RenderSortIcon("KnowledgeLevel")</button>
                    </th>
                    <th scope="col">
                        <button @onclick='() => SortByColumn("Language")' class=" btn btn-link">Språk @RenderSortIcon("Language")</button>
                    </th>
                </tr>
            </thead>
            <StudentListTableBody Students="PageListStudents" />
        </table>
    </div>
    <p>
        Sidan @paginationMetadata!.CurrentPage av @paginationMetadata.TotalPages sidor.<br />
        Visar @paginationMetadata.PageSize elever per sida.<br />
        Totalt @paginationMetadata.TotalCount elever.<br />
        @if (!(paginationMetadata.PreviousPageLink == null))
        {
            <a class="link" @onclick="GoToPrevious">Föregående sida</a> <span>&nbsp</span>
        }
        @if (!(paginationMetadata.NextPageLink == null))
        {
            <a class="link" @onclick="GoToNext">Nästa sida</a>
        }
    </p>
    <button class="btn btn-success" @onclick="CreateNewStudent"><i class="oi oi-plus"></i>Lägg till ny student</button>
}

@if (debug)
{
    <div class="alert alert-warning mt-3">
        <p class="text-black">Pagination Json:<br />@pagination</p>
        <p class="text-black">navLink:<br />@navLink</p>
    </div>
}