@page "/editstudent/{Id}"

@using APLMatchMaker.Shared.DTOs.StudentsDTOs

<h3>Redigera Eleven</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
@if (editStudent != null)
{
    
<EditForm Model="@editStudent">
    <DataAnnotationsValidator/>
    <div class="form-group">
            <label for="firstName">Förnamn:</label>
            <input type="text" class="form-control" @bind-value="editStudent.FirstName" />
            <ValidationMessage For="@(() => editStudent.FirstName)"/>
    </div>

    <div class="form-group">
        <label for="lastName">Efternamn:</label>
        <input type="text" class="form-control" @bind-value="editStudent.LastName" />
        <ValidationMessage For="@(() => editStudent.LastName)" />
    </div>

    <div class="form-group">
        <label for="StuSocSecNo">Personnummer:</label>
        <input type="text" class="form-control" @bind-value="editStudent.StudentSocSecNo" />
        <ValidationMessage For="@(() => editStudent.StudentSocSecNo)" />
    </div>

    <div class="form-group">
        <label for="Address">Adress:</label>
        <input type="text" class="form-control" @bind-value="editStudent.Address" />
        <ValidationMessage For="@(() => editStudent.Address)" />
    </div>

    <div class="form-group">
        <label for="Status">Status:</label>
        <input type="text" class="form-control" @bind-value="editStudent.StatusOther" />
        <ValidationMessage For="@(() => editStudent.StatusOther)" />
    </div>

    <div class="form-group">
        <label for="CV">CV:</label>
        <input type="text" class="form-control" @bind-value="editStudent.CV" />
        <ValidationMessage For="@(() => editStudent.CV)" />
    </div>

    <div class="form-group">
        <label for="KnowledgeLevel">Kunskapsnivå:</label>
        <input type="text" class="form-control" @bind-value="editStudent.KnowledgeLevel" />
        <ValidationMessage For="@(() => editStudent.KnowledgeLevel)" />
    </div>

    <div class="form-group">
        <label for="LinkedinIntro">LinkedIn Intro:</label>
        <input type="text" class="form-control" @bind-value="editStudent.LinkedinIntro" />
        <ValidationMessage For="@(() => editStudent.LinkedinIntro)" />
    </div>

    <div class="form-group">
        <label for="Language">Språk:</label>
        <input type="text" class="form-control" @bind-value="editStudent.Language" />
        <ValidationMessage For="@(() => editStudent.Language)" />
    </div>

    <div class="form-group">
        <label for="nationality">Nationalitet:</label>
        <input type="text" class="form-control" @bind-value="editStudent.Nationality" />
        <ValidationMessage For="@(() => editStudent.Nationality)" />
    </div>

    <div class="form-group">
        <label for="CommentsByTeacher">Kommentar från Läraren:</label>
        <input type="text" class="form-control" @bind-value="editStudent.CommentByTeacher" />
        <ValidationMessage For="@(() => editStudent.CommentByTeacher)" />
    </div>
    <div class="btn-group" style="padding: 1rem;">
            <button type="submit" class="btn btn-primary" @onclick="HandleValidSubmit"><i class="bi bi-save"></i> Spara</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel"><i class="bi bi-caret-left"></i> Avbryt</button>
    </div>
</EditForm>
}
else
{
    <p>No student details found.</p>
}