@page "/ListOfStudents"

@using APLMatchMaker.Shared.DTOs.StudentsDTOs
@using APLMatchMaker.Client.Components

<h3 class="m3">Studentlista</h3>
<div>
    <input type="text" @bind="searchText" placeholder="Sök student..." />
    <button class="btn btn-success" type="submit" @onclick="SearchStudents">Sök</button>
</div>

@if (PageListStudents == null && errorMessage == null)
{
    <p>Läser in...</p>
}
else if (errorMessage != null)
{
    <p class="alert alert-danger">Error: @errorMessage</p>
}
else if (PageListStudents!.Count() == 0)
{
    <p>Ingen student hittad.</p>
}
else
{

    <div class="m-3">
        <StudentList Students="PageListStudents" />
    </div>
    <p>
        Sidan @paginationMetadata!.CurrentPage av @paginationMetadata.TotalPages sidor.<br />
        Visar @paginationMetadata.PageSize elever per sida.<br />
        Totalt @paginationMetadata.TotalCount elever.<br />
        @if (!(paginationMetadata.PreviousPageLink == null))
        {
            <a class="link" @onclick="GoToPrevious">Föregående sida</a> <span>&nbsp</span>
        }
        @if (!(paginationMetadata.NextPageLink == null))
        {
            <a class="link" @onclick="GoToNext">Nästa sida</a>
        }
    </p>
    <button class="btn btn-success" @onclick="CreateNewStudent"><i class="oi oi-plus"></i>Lägg till ny student</button>
}

@if (debug)
{
    <div class="alert alert-warning">
        <p>Pagination Json:<br />@pagination</p>
        <p>navLink:<br />@navLink</p>
        <p>Deserialization error:<br />@errorMessageTest</p>
    </div>
}